button[type=submit] {
    font-size: 200%;
    font-size-adjust: initial;
    width: 30%;
    /* height: 25%; */
    height: 80px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid #e5a900;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    outline: none;
}

button[type=submit]:hover {
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

.form {
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
    padding: 3%;
    height: 100%;
    position: relative;
}

app-question {
    padding: 10px;  
    width: 100%;
    font-size: 150%;
    font-size-adjust: initial;

}