<mat-sidenav-container class="content">

    <mat-sidenav mode="side" opened class="sidenav">
        <app-sidenav [parent]="parent" [buttonSettings]="sidenavButtonSettings"></app-sidenav>
        <app-button [buttonSettings]="back_button" [routerLink]="'/home'"></app-button>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="subsection-container">
            <div *ngIf="router.url == '/home/data'">
                <h1 class="title">SARTI's data management</h1>
                <h2 style="text-align: center; color: brown;">
                    Secció dedicada al tractament de les dades de SARTI, les opcions són les indicades a l'esquerra
                </h2>
            </div>
            <router-outlet name="sidenav"></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>