<div class="form">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">


        <div *ngFor="let question of questions" class="form-row" id="question">
            <app-question [question]="question" [form]="form"></app-question>
            <!-- <mat-hint *ngIf="question.order == 2">No ID for getting all values</mat-hint> -->
            
        </div>

        <div>
            <button mat-stroked-button type="submit" [disabled]="!form.valid">Submit</button>
        </div>

    </form>

    <div>
        <button mat-stroked-button type="show" (click)="download()">Download</button>
        <button mat-stroked-button type="show" (click)="displayAllText()">Show all</button>
    </div>

    <div>
        <button mat-stroked-button type="refresh" (click)="refresh()">Refresh</button>
    </div>

    <div *ngIf="payLoad" class="payload">
        <textarea id="display" style="width:1000px;height:700px"></textarea>
    </div>



</div>