#parentDiv {
    position: relative;
}

#childDiv {
    position: absolute;
    flex-direction: column;
    display: flex;
    top: 15%;
    left: 35%;
}

#childDiv2 {
    position: absolute;
    bottom: 5%;
    left: 10.5%;
}

.step_name {
    font-size: larger;
    color: black;
    font-weight: bold;
}

.step_value {
    font-size: large;
    color: black;
}

#table_cap {
    font-size: larger;
    padding: 10px;
    background-color: rgb(240, 224, 138);
}

#table_val {
    font-size: large;
    background-color: rgb(166, 226, 223);
    text-align: center;
}

#table {
    width: 135%;

}

button {
    margin-right: 0.6%;
}

button[type=next] {
    box-shadow: 0 0 10px rgb(231, 233, 98);
    background-color: rgb(241, 239, 85);
}

button[type=next]:hover {
    box-shadow: 0 0 10px rgb(241, 209, 24);
    background: rgb(248, 232, 7);
}

button[type=back] {
    box-shadow: 0 0 10px rgb(182, 176, 163);
    background-color: rgb(182, 176, 163);
}

button[type=back]:hover {
    box-shadow: 0 0 10px rgb(65, 64, 63);
    background: rgb(122, 120, 114);
}

button[type=more] {
    box-shadow: 0 0 10px rgb(149, 245, 141);
    background-color: rgb(93, 231, 75);
}

button[type=more]:hover {
    box-shadow: 0 0 10px rgb(51, 241, 44);
    background: rgb(27, 235, 19);
}

button[type=reset] {
    box-shadow: 0 0 10px rgb(219, 93, 76);
    background-color: rgb(240, 81, 81);
}

button[type=reset]:hover {
    box-shadow: 0 0 10px rgb(231, 61, 31);
    background: rgb(247, 11, 11);
}

button[type=delete] {
    box-shadow: 0 0 10px rgb(219, 93, 76);
    background-color: rgb(240, 81, 81);
}

button[type=delete]:hover {
    box-shadow: 0 0 10px rgb(231, 61, 31);
    background: rgb(247, 11, 11);
}