<mat-horizontal-stepper #stepper>
    <div *ngFor="let settings of stepperSettings" id="parentDiv">
        <ng-container *ngTemplateOutlet="settings.add_more == true ? add_more : normal"></ng-container>

        <ng-template #normal>
            <mat-step [stepControl]="settings['form_name']">
                <form [formGroup]="settings['form_name']"
                    (ngSubmit)="onSubmit(settings['form_name'], settings['order'])">
                    <ng-template matStepLabel>{{ settings.label }}</ng-template>
                    <div *ngFor="let step of settings.steps">
                        <mat-form-field>
                            <mat-label>{{ step.label }}</mat-label>
                            <input matInput type="{{step.type}}" formControlName="{{step.key}}"
                                placeholder="{{step.placeHolder}}" required="step.required">
                        </mat-form-field>
                    </div>

                    <div id="childDiv">
                        <!-- <mat-list *ngFor="let step of objectKeys(settings.form_name.value); index as i">
                            <mat-list-item>
                                <p class="step_name">{{settings.steps[i].label}}:&nbsp;&nbsp;<p>
                                <p class="step_value">{{settings.form_name.value[step]}}</p>
                            </mat-list-item>
                        </mat-list> -->

                        <table id="table">
                            <caption>Payload</caption>
                              <tr *ngFor="let step of objectKeys(settings.form_name.value); index as i">
                                <th id="table_cap" scope="row">{{settings.steps[i].label}}</th>
                                <td id="table_val">
                                    {{settings.form_name.value[step]}}
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div>
                        <button type="back" *ngIf="settings.order != 1" mat-button matStepperPrevious>Back</button>
                        <button type="next" mat-button matStepperNext>Next</button>
                    </div>

                </form>
            </mat-step>
        </ng-template>

        <ng-template #add_more>
            <mat-step [stepControl]="settings['form_name']">
                <form [formGroup]="settings['form_name']"
                    (ngSubmit)="send_list(settings['order'])">
                    <ng-template matStepLabel>{{ settings.label }}</ng-template>

                    <div *ngFor="let step of settings.steps">
                        <mat-form-field>
                            <mat-label>{{ step.label }}</mat-label>
                            <input matInput type="{{step.type}}" formControlName="{{step.key}}"
                                placeholder="{{step.placeHolder}}" required="step.required">
                        </mat-form-field>
                    </div>

                    <div id="childDiv"> List values (click to delete):
                        <mat-list *ngFor="let val of list_values; index as i">
                            <mat-list-item>
                                <!-- <button type="delete" (click)="del_val(i)">{{i + 1}}</button>&nbsp;&nbsp; -->
                                <button type="delete" (click)="del_val(i)">X</button>&nbsp;&nbsp;
                                <div *ngFor="let value of objectKeys(val)">
                                    <p>
                                        {{val[value]}}&nbsp;&nbsp;
                                    </p>
                                </div>
                                
                            </mat-list-item>
                        </mat-list>
                    </div>

                    <p>
                        {{list_values}}
                    </p>

                    <div>
                        <button type="back" *ngIf="settings.order != 1" mat-button matStepperPrevious>Back</button>
                        <button type="next" mat-button matStepperNext>Next</button>
                    </div>
                </form>
                <button type="more" id="childDiv2" *ngIf="settings.add_more == true" (click)="add_val(settings['form_name'])"mat-button>Add</button>
            </mat-step>
        </ng-template>
    </div>

    <mat-step>
        <ng-template matStepLabel>Final</ng-template>
        <button type="back" mat-button matStepperPrevious>Back</button>
        <button type="reset" mat-button (click)="stepper.reset(); functionality('reset')">Reset</button>
        <button type="more" mat-button (click)="functionality('download')">Download</button>
        <button type="next" mat-button (click)="functionality('send')">Send</button>
    </mat-step>
</mat-horizontal-stepper>