mat-toolbar {
    overflow: hidden;
      width: 100%;
      min-width: 475px;
      padding: 10px 20px 10px 10px;
      font-size: 20px;
      position: relative;
      color: #FFF;
      background: rgb(45, 144, 236);
      z-index: 1;
}
  
mat-toolbar:after {
    color: rgb(255, 255, 255);
    box-shadow: 5px 10px #888888;
    content: " ";
    position: absolute;
    display: block;
    width: 25%;
    min-width: 200px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background: #333;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}


.infoSection {
    z-index: 3;
    position: relative;
    widows: 100%;
}

.infoSection::after {
    z-index: 3;
    position: relative;
    widows: 100%;
}

.spacer {
    flex: 1 1 auto;
}

button {
    color: white;
}

#home {
    width: 10%;
}