
    <div *ngIf="router.url == '/home'">
        <h1 class="title">SARTI's INTRANET</h1>
        <h2 style="text-align: center; color: brown;">
            HOME
        </h2>
        <mat-toolbar class="mat-elevation-z5" class="pre_click">
            <div *ngFor="let settings of buttonSettings">
                <button mat-button [routerLink]="settings.route">{{settings.label}}</button>
            </div>
        </mat-toolbar>
    </div>
    <mat-toolbar class="mat-elevation-z5" *ngIf="router.url != '/home'">
        <div *ngFor="let settings of buttonSettings" class="infoSection">
            <button mat-button [routerLink]="settings.route">{{settings.label}}</button>
        </div>
    </mat-toolbar>


    <router-outlet></router-outlet>
