<mat-toolbar class="mat-elevation-z5">
    <a href="http://cdsarti.org/" target="_blank">
        <img id="logo" src="../../../assets/images/sarti.jpg">
    </a>

    <p> <- Click on SARTI's logo to see a well crafted page</p>


    <span class="spacer"></span>
    <div class="infoSection">
        
        <h3>Shitty but functional footer :)</h3>


    </div>
</mat-toolbar>