
button[type=add] {
  font-size: 200%;
  font-size-adjust: initial;
  width: fit-content + 5%;
  background: linear-gradient(#71f066 5%, #90fcb9 100%);
  border: 3px solid #0a0a0a;
  color: #4E4D4B;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  outline: none;
  margin-right: 0.6%;
}
  
button[type=next] {
  padding: 50%;
  font-size: 200%;
  font-size-adjust: initial;
  width: fit-content + 5%;
  background: linear-gradient(#edf856 5%, #f5fc90 100%);
  border: 3px solid #0a0a0a;
  color: #4E4D4B;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 24px;
  text-align: center;
  outline: none;
  margin-right: 0.6%;
}

button[type=next]:hover {
  background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}
  

button[type=delete] {
  padding: 50%;
  font-size: 200%;
  font-size-adjust: initial;
  width: fit-content + 5%;
  background: linear-gradient(#f54a4a 5%, #fc9390 100%);
  border: 3px solid #0a0a0a;
  color: #4E4D4B;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  outline: none;
  margin-right: 0.6%;
}

button[type=send] {
  padding: 50%;
  font-size: 200%;
  font-size-adjust: initial;
  width: fit-content + 5%;
  background: linear-gradient(#f5cc14 5%, #f3c136 100%);
  border: 3px solid #0a0a0a;
  color: #4E4D4B;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  outline: none;
  margin-right: 0.6%;
}

button[type=sidenav] {
  text-align: center;
  background: #f3ebdb;
  padding: 5%;
  width: 100%;
  font-size: 150%;
}

button[type=sidenav]:hover {
  background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

