<ng-container *ngTemplateOutlet="buttonSettings.route ? route : normal">
</ng-container>

<ng-template #normal>
    <button mat-button type="{{buttonSettings.type}}"
        [disabled]=buttonSettings.disabled>{{ buttonSettings.label }}</button>
</ng-template>

<ng-template #route>
    <div *ngIf="parent">
        <button type="{{buttonSettings.type}}"
        [disabled]=buttonSettings.disabled [routerLink]="[parent, {outlets: {'sidenav': buttonSettings.route}}]">{{ buttonSettings.label }}</button>
    </div>

    <div *ngIf="!parent">
        <button type="{{buttonSettings.type}}"
        [disabled]=buttonSettings.disabled [routerLink]="[buttonSettings.route]">{{ buttonSettings.label }}</button>
    </div>
    
</ng-template>