<mat-tab-group class="config_tab">
    <mat-tab label="Sensor"><app-sensor></app-sensor></mat-tab>
    <mat-tab label="Person"><app-person></app-person></mat-tab>
    <mat-tab label="Project">aa</mat-tab>
</mat-tab-group>
