/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
    min-height: 100vh;
    min-height: 100% !important;
    overflow-y: hidden;
background-color: rgb(174, 208, 238);}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
