<h2 id="title">Welcome to SARTI's INTRANET</h2>
<div class="log-form" *ngIf="!has_token" id="parentDiv">
    <h2 id="form-title">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

        <div>

            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput id="email" type="email" formControlName="email" required>
                <mat-hint>email or complete name</mat-hint>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput id="password" type="password" formControlName="password" required type="password">
            </mat-form-field>
        </div>

        <app-button id="form-button" [buttonSettings]="settings"></app-button>
    </form>
    <app-slider id="childDiv"></app-slider>
</div>



<div *ngIf="has_token">
    <p>Already logged, redirecting...</p>
</div>